{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}</a>.
    </div>
{% endif %}
{% endwith %}

<script type="text/javascript">
    function dynInput(cbox) {
     if (cbox.checked) {
        // Dropdown for Companies
        var input = document.createElement("select");
        input.className = "select is-medium";
        input.placeholder = "Company";
        input.style.cssText = "margin-bottom:0.75rem;";
        input.name = "company";

        var option1 = document.createElement("option");
        option1.value = "CapitaLand";
        option1.label = "CapitaLand";

        var option2 = document.createElement("option");
        option2.value = "Far East Organisation";
        option2.label = "Far East Organisation";

        var option3 = document.createElement("option");
        option3.value = "Frasers Property";
        option3.label = "Frasers Property";

        var option4 = document.createElement("option");
        option4.value = "Mapletree";
        option4.label = "Mapletree";

        input.appendChild(option1);
        input.appendChild(option2);
        input.appendChild(option3);
        input.appendChild(option4);
        document.getElementById("insertinputs").appendChild(input);

        // Input field for Secret Code
        var input = document.createElement("input");
        input.className = "input is-medium";
        input.placeholder = "Secret Code";
        input.style.cssText = "margin-bottom:0.75rem;";
        input.type = "text";
        input.autofocus = "";
        input.name = "code";
        document.getElementById("insertinputs").appendChild(input);

    }
    else {document.getElementById("insertinputs").remove();}
    }
</script>
   
<div class="column is-4 is-offset-4">
    <h3 class="title">CitiWallet</h3>
    <div class="box">
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="text" name="name" placeholder="Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="checkbox" name="is_vendor" id="is_vendor" value="Vendor" onclick="dynInput(this);">
                    <label for="identity"> &nbsp I am a vendor &nbsp &nbsp &nbsp &nbsp</label>
                    <input type="checkbox" name="is_cashier" id="is_cashier" value="Cashier">
                    <label for="identity"> &nbsp I am a cashier </label>
                </div>
            </div>

            <div class="field">
                <div class="control" id="insertinputs">
                </div>
            </div>

            <div class="buttons is-centered" style="padding-bottom: 0%;">
                <button class="button is-block is-info is-large">Sign Up</button>
            </div> 
            Already have an account? <a href="/login" style="color:rgb(11, 237, 245)"><u>Sign in</u></a>
    

        </form>
    </div>
</div>
{% endblock %}