{% extends "post_login_base.html" %}

{% block content %}
<div class="navbar" style="padding-bottom: 15px;">
    <a href="{{ url_for('main.home') }}"><i class="fas fa-home"></i>&nbsp; Home</a> 
    <a href="{{ url_for('main.buy') }}"><i class="fas fa-store"></i>&nbsp; Buy Vouchers</a> 
    <a href="{{ url_for('main.buyer_wallet') }}"><i class="fas fa-wallet"></i>&nbsp; My Vouchers</a> 
    <a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i>&nbsp; Logout</a>
</div>


{% endblock %}